
.login-container {
  /* margin-left: 250px; */
  background: transparent;
  border-radius: 8px;
  padding: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 500px;
  width: 100%;
}

.login-container h1 {
  font-weight: 600;
  color: #578e7e;
  margin-bottom: 20px;
}

.login-container .btn-primary {
  background-color: #578e7e;
  border-color: #578e7e;
}

.login-container .btn-primary:hover {
  background-color: #578e7e;
  border-color: #578e7e;
}

.login-container .form-text {
  margin-top: 10px;
}

