body{
    background-color: #e7f7ed!important;
    overflow-x: hidden;
}

.page-heading {
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 0.25rem;
}

.page-subheading {
  color: #6c757d; /* Bootstrap's text-muted */
  font-size: 1rem;
  margin-bottom: 1rem;
}

.notification-item:hover {
  background-color: #e9f5ff;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
